.text-center{
    text-align: center;
}


.item-center{
    align-self: center;
}

.margin-left{
    margin-left: 20%;
}

.margin-top{
    margin-top: 40%;
}

.width-40{
    width: 40;
}

.margin-left-50{
    margin-left: 50%;
}

.items-center-1{
    position: relative;
    justify-content: center;
}

.margin-bottom-12{
    margin-top: -12%;
}

.margin-center{
    margin-left: 35%;
}